<launch>
  <node name="jackal_controller" pkg="url_uavugv" type="figure8_ugv.py" output="screen">
    <param name="robot" type="str" value="/UGV1" />
    <param name="radius" type="double" value="5.0" />
    <!--radius = dist(center_x1 - center_x2)/2-->
    <param name="max_speed" type="double" value="0.5" />
    <param name="look_ahead" type="double" value="1.2" />
    <param name="laps_completed" type="int" value="5" />
    <param name="center_x1" type="int" value="7" />
    <param name="center_x2" type="int" value="-3" />
    <param name="use_gps" type="bool" value="False" />
  </node>
</launch>
