<!-- <launch>
  <arg name="robot" default=""/>
  <node name="path" pkg="url_uavugv" type="rect_ugv" output="screen" ns="$(arg robot)">
    <param name="robot" type="str" value="$(arg robot)"/>
    <param name="length" type="double" value="5.0"/>
    <param name="max_speed" type="double" value="0.5"/>
    <param name="look_ahead" type="double" value="0.8"/>
    <param name="laps_completed" type="int" value="1"/>
    <param name="use_gps" type="bool" value="false"/>
    <param name="cmd_vel" type="str" value="/jackal_velocity_controller/cmd_vel"/>
  </node>
</launch> -->

<launch>
  <arg name="robot" default=""/>
  <arg name="use_gps" default="false"/>
  <arg name="is_sim" default="true"/>
  <arg name="cmd_vel" default="/jackal_velocity_controller/cmd_vel"/>
  <node name="path" pkg="url_uavugv" type="rect_ugv" output="screen">
    <param name="robot" type="str" value="$(arg robot)"/>
    <param name="length" type="double" value="5.0"/>
    <param name="max_speed" type="double" value="0.5"/>
    <param name="look_ahead" type="double" value="1.2"/>
    <param name="laps_completed" type="int" value="5"/>
    <param name="use_gps" type="bool" value="$(arg use_gps)"/>
    <param name="is_sim" type="bool" value="$(arg is_sim)"/>
    <param name="cmd_vel" type="str" value="$(arg cmd_vel)"/>
  </node>
  <node name="fail" pkg="url_uavugv" type="fail_safe" output="screen">
    <param name="robot" type="str" value="$(arg robot)"/>
    <param name="use_gps" type="bool" value="$(arg use_gps)"/>
    <param name="is_sim" type="bool" value="$(arg is_sim)"/>
    <param name="cmd_vel" type="str" value="$(arg cmd_vel)"/>
  </node>
  <node name="visualization" pkg="url_uavugv" type="visual" output="screen">
    <param name="robot" type="str" value="$(arg robot)"/>
    <param name="use_gps" type="bool" value="$(arg use_gps)"/>
    <param name="is_sim" type="bool" value="$(arg is_sim)"/>
    <param name="cmd_vel" type="str" value="$(arg cmd_vel)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find url_uavugv)/rviz/check.rviz" output="screen" />
</launch>
