<launch>
  <rosparam file="$(find url_uavugv)/yaml/waypoint.yaml" command="load"/> 
  <node name="px4_controller" pkg="url_uavugv" type="waypoint_following.py" output="screen"> 
    <param name="robot" type="str" value="" />
    <param name="length" type="double" value="3.0" />
    <param name="target_altitude" type="double" value="3.0" />
    <param name="max_speed" type="double" value="0.5" />
    <param name="laps_completed" type="int" value="1" />
    <param name="use_gps" type="bool" value="True" />
  </node>
</launch>

